.container {
  position: relative;
  z-index: 1;
  width: -webkit-fill-available;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.centerImage {
  width: 100%;
  height: 100%;
}

.leftElement,
.rightElement {
  position: absolute;
  top: 50%;
  width: 6%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.leftElement {
  left: 0;
}

.rightElement {
  right: 0;
}

.leftElement:hover i,
.rightElement:hover i {
  transform: scale(1.5);
  transition: all 0.3s ease;
}

.centerElement {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.bannerCircle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}

.bannerCircle.active {
  background: white;
  opacity: 1;
}

.bannerLength {
  width: 16px;
  height: 7px;
  border-radius: 25%;
  background: white;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}

.bannerLength.active {
  background: white;
  opacity: 1;
}