.wholeCard{
    border: 1px solid #F7E7CE;
    min-width: 100px;
    min-height: 100px;
}

.imageDiv{
    border-radius: 7px;
    cursor: pointer;
}

.imageDiv:hover{
    transform: scale(1.04);
    transition: all 0.4s ease;
}

.nameDiv{
    padding: 4px 9px;
    letter-spacing: 0.3px;
    font-size: 14px;
}

