.siteFooter{
    color: #FAF9F6;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: #0A0F2C;
}

.footerTop{
    display: flex;
    justify-content: space-around;
}

.footerBottom{
    display: flex;
    justify-content: center;
    padding: 12px;
    gap: 15px;
    font-size: 14px;
}

h4{
    margin: 0px;
    font-size: 15px;
}

.footerSection{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 12px;
}

.inFooterSection{
    display: flex;
    gap: 15px;
}

.linkWord{
    color: #b9b9b9;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.linkWord:hover{
    transform: scale(1.02);
    color: #c9c9c9;
}

.spliters{
    color: #F7E7CE;
}

.socialIcon:hover{
    transform: scale(1.1);
}