.headMenu {
  border: 1px solid #979797;
  padding: 4px 6px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 6px;
  position: relative;
}

.headMenu span {
  display: block;
  border: 1px solid #979797;
  width: 10px;
}

.headMenu:hover span,.headMenu:focus span {
  border-color: black;
  background: #f9f9f9;
  transform: scale(1.02);
  transition: all 0.3s ease;
  cursor: pointer;
}

.headMenu:hover,
.hedMenu:focus {
  border-color: black;
  background: #f9f9f9;
  transform: scale(1.02);
  transition: all 0.3s ease;
  cursor: pointer;
}

.popupMenu{
  position: absolute;
  width: max-content;
  top: 110%;
  border-radius: 4px;
  background-color: white;
}