.popOpen {
    background: #f0f0f0;
    width: 250px;
    height: 70vh;
    overflow: hidden;
    animation: openLeftToRight 0.5s forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: sticky;
}

@keyframes openLeftToRight {
    from {
        width: 0;
    }
    to {
        width: 300px;
    }
}

@keyframes openRightToLeft {
    from {
        width: 300px;
    }
    to {
        width: 0px;
    }
}

.popClose{
    background: #f0f0f0;
    width: 250px;
    height: 70vh;
    overflow: hidden;
    animation: openRightToLeft 0.5s forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    box-shadow: 6px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: sticky;
}

.profileSrc{
    border: 1px solid #F7E7CE;
    border-radius: 50%;
    width: 90px;
    height: 92px;
}

.profileSrc:hover{
    transform: scale(1.05);
    border: 2px solid #F7E7CE;
}

.topSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10% 0px;
}

.lineEnd{
    border-top: 1px solid #ccc;
    width: 50%;
}

.linkWords{
    cursor: pointer;
    font-weight: 600;
}

.linkWords:hover{
    transform: scale(1.02);
}

.bottomSection{
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    padding: 10% 0px;
}

.anotherLog{
    padding: 6px 20px;
    background: #2b2bd7;
    border: 1px solid #2b2bd7;
    color: white;
    border-radius: 6px;
    border: 0px;
    cursor: pointer;
}

.anotherLog:hover{
    transform: scale(1.04);
    transition: all 0.5s ease;
    background:blue;
    border: 1px solid blue;
}

.logOut{
    padding: 6px 20px;
    background: #29b729;
    border: 1px solid #29b729;
    color: white;
    border-radius: 6px;
    border: 0px;
    cursor: pointer;
}

.logOut:hover{
    transform: scale(1.06);
    transition: all 0.5s ease;
    background:#00af00;
    border: 1px solid #00af00;
}