.image{
    border-radius: 7px;
    width: 200px;
    height: 200px;
}

.popDiv{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: max-content;
    position: absolute;
    right: 0%;
    top: 140%;
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 10;
    gap: 25px;
}

.innerContent{
    font-size: 14px;
    padding: 0px 0px 0px 10px;
}

.headContent{
    font-weight: 550;
}

.contentButton{
    background-color: blue;
    color: white;
    border-radius: 6px;
    padding: 5px 12px;
    cursor: pointer;
    border: none;
}

.contentButton:hover{
    font-weight: 600;
    transform: scale(1.05);
    transition: all 0.03s ease;
}