@tailwind base;
@tailwind components;
@tailwind utilities;

.bodyContent{
    display: flex;
    gap: 36px;
    background: #FAF9F6;
    color: black;
    text-align: center;
    font-weight: bold;
    user-select: none;
}

.header {
  display: flex;
  background-color: #0A0F2C;
  justify-content: space-between;
  padding: 20px 27px;
  align-items: center;
  user-select: none;
  box-shadow: -1px 7px 10px 0px rgba(0, 0, 0, 0.5);  
  position: relative;
  z-index: 999;
}

.headProfile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headProfile:hover,
.hedProfile:focus {
  border-color: black;
  background: #f9f9f9;
  transform: scale(1.03);
  transition: all 0.3s ease;
  cursor: pointer;
}

.ProfilImg {
  width: inherit;
  border-radius: 50%;
}

.footer{
  box-shadow: 1px -1px 10px 0px rgba(0, 0, 0, 0.5);  
  position: sticky;
}

