.bodyContent{
    display: flex;
    gap: 36px;
    background: #c3c3c3;
    color: black;
    text-align: center;
    font-weight: bold;
    user-select: none;
}

.header {
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding: 20px 27px;
  align-items: center;
  user-select: none;
  box-shadow: -1px 7px 10px 0px rgba(0, 0, 0, 0.5);  
  position: relative;
  z-index: 999;
}

.inputFields {
  border-radius: 7px;
  border: 1px solid #d4d4d4;
  padding: 5px 10px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.inputFields:hover,
.inutFields:focus {
  border: 0.6px solid black; 
  background: #f9f9f9;
  transform: scale(1.02);
  transition: all 0.3s ease;
  cursor: text;
  outline: none;
}

.inputFields img{
  cur
}

.headProfile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headProfile:hover,
.hedProfile:focus {
  border-color: black;
  background: #f9f9f9;
  transform: scale(1.03);
  transition: all 0.3s ease;
  cursor: pointer;
}

.ProfilImg {
  width: inherit;
  border-radius: 50%;
}

.searchDiv {
  width: 40%;
}

.headMenu {
  border: 1px solid #979797;
  padding: 4px 6px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 6px;
  position: relative;
}

.headMenu span {
  display: block;
  border: 1px solid #979797;
  width: 10px;
}

.headMenu:hover span,.headMenu:focus span {
  border-color: black;
  background: #f9f9f9;
  transform: scale(1.02);
  transition: all 0.3s ease;
  cursor: pointer;
}

.headMenu:hover,
.hedMenu:focus {
  border-color: black;
  background: #f9f9f9;
  transform: scale(1.02);
  transition: all 0.3s ease;
  cursor: pointer;
}

.contentDiv{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 16px;
    gap: 36px;
}

.footer{
  box-shadow: 1px -1px 10px 0px rgba(0, 0, 0, 0.5);  
  position: sticky;
}

.headerLogo{
    width: 5%;
    border-radius: 50%;
}

.headerLogo:focus{
  border: none;
}

.headerInput{
  width: 94%;
  border: none;
  outline: none;
}