html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: 'Lato', sans-serif;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 1px;
}